<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY_PRIVATE</key>
	<string>07cc7d6d07d35ec0b52530a85e15b6215f4f85d3</string>
	<key>API_KEY_PUBLIC</key>
	<string>b60d4836ad7b707bd3f55e97be2a1554</string>
</dict>
</plist>
